#mxFooter {
    border-top: $border-color 1px solid;
    background: $white;
    padding: 60px 0 30px;
    -webkit-font-smoothing: auto;

    ul.legal-row {
        list-style: none;
        li {
            float: left;
        }
    }
    .copy-xs {
        font-size: 14px;
        line-height: 1.5;
    }
    .footer_legal {
        color: #424242;
    }
    .social-flex {
        list-style: none;
        display: flex;
        justify-content: space-around;
    }

    .menu-item-35282,
    .menu-item-40102,
    .menu-item-41320 {
        display: none
    }
    a:focus,
    a:hover {
        color: #0595db
    }
    .footer__legal {
        color: #424242
    }
    .nav--footer {
        display: flex !important;
        flex-flow: row wrap;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.65;
        list-style: none;
    }
    .nav--footer ul {
        padding: 0;
        list-style: none;
    }
    .nav--footer a {
        color: #9f9f9e;
    }
    .nav--footer > .menu-item {
        flex: 1 0 auto
    }
    .nav--footer > .menu-item > a {
        margin: 11px 0 .25em;
        color: #424242;
        pointer-events: none;
        display: block
    }
    .nav--footer .sub-menu .sub-menu {
        display: none
    }
    .bottomrow {
        margin-top: 10px;
    }

}
