.topbar {
  $size-topbar-search: 50px;
  $topbar-search-padding: ($size-topbar-height - $size-topbar-search) / 2;
  $top-search-logo: $size-topbar-search / 2;

  background: url('/evaluation-guide/public/images/eval-guide-background.jpg');
  background-size: cover;
  background-position: center center;
  height: $size-topbar-height + $size-header;
  line-height: $size-topbar-height;

  @include mq('lg', min) {
    background-position: center -600px;
  }

  @include mq("sm", max) {
    height: auto;
  }

  @include element('title') {
    line-height: 300px;
    margin: 0;
    padding: 0;
    color: $color-topbar-color;
    font-family: 'Patron';
    font-size: $size-topbar-font;
    font-weight: 500;

    &:active, &:hover {
      color: $color-topbar-color;
    }

    @include mq('sm', max ) {
      font-size: 24px;
      line-height: 240px;
    }

    @include mq('xs', max ) {
      font-size: 20px;
    }
  }

  @include element('column') {
    max-height: $size-topbar-height;
    overflow: hidden;
  }
}
