$block: 'mx';

.#{$block} {
  @include element('background') {
    z-index:10;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8f8+0,f8f8f8+25,ffffff+25,ffffff+25,ffffff+100 */
    background: rgb(248,248,248); /* Old browsers */
    background: -moz-linear-gradient(left, #f8f8f8 25%, #fff 25%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f8f8f8 25%, #fff 25%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f8f8f8 25%, #fff 25%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */


    @include mq("sm", max) {
      display: none;
    }
    @include element('left') {
      display: none;
      width: 50%;
      top: 0;
      left: 0;
      bottom: 0;
      background: $color-background-grey;
      position: absolute;
    }
    @include element('right') {
      display: none;
      width: 50%;
      top: 0;
      bottom: 0;
      right: 0;
      background: $color-white;
      position: absolute;
    }
  }

  @include element('content') {
    position: relative;
    overflow: hidden;
    & > .container {
      position: relative;
      z-index: 20;
    }
    .topbar {
      position: relative;
      z-index: 50;
    }
  };

  @include mq("sm") {
    @include element('main-content') {
      display: table;
      & > .mx__main, & > .mx__sidebar {
        float: none;
        display: table-cell;
        vertical-align: top;
      }
    }
  }
}
