$block: 'mx';

.#{$block} {
  @include e('header') {
    display: block;
    height: 75px;
    background-color: transparent;
    position: relative;
    z-index: 100;
    line-height: 1;

    @include transition(background-color, 500ms);
    &:hover {
      background-color: rgba(0,0,0,1);
    }

    @include element('logo') {
      max-width: 135px;
      //padding-top: 14px;
    }
  };
}
